<div class="container mt-3 form-group bg-light">
  <form action="/milestones/<%=@milestone.id%>" method=POST>
    <label class="lead" for="title">Title</label>
    <textarea class="form-control" id="title" name="title"><%=@milestone.title%></textarea>
    <label class="lead" for="description">Description</label>
    <textarea class="form-control" class="lead" id="description" row="2" name="description"><%=@milestone.description%></textarea>
    <label class="lead" for="plan">Plan</label>
    <textarea class="form-control" id="plan" row="6" name="plan"><%=@milestone.plan%></textarea>
    <input class="btn btn-lg btn-outline-warning m-3 p-2" type="submit" value="Update">
  </form>
</div>