<h1 class="display-3 fw-light m-4 p-4 text-center">New Milestone</h1>
<%if @milestone && @milestone.errors.any?%>
  <div class="alert alert-danger" role="alert">
    Must fill in all the fields when creating a new milestone
  </div>
<%end%>
<div class="container form-group bg-light">
  <form class="m-4 p-3" action="/milestones/new" method= "POST">
    <label class="lead" for="title">Title</label>
    <textarea class="form-control" name="title" rows="1"></textarea>
    <label class="lead" for="description">Description</label>
    <textarea class="form-control" name="description" rows="2"></textarea>
    <label for="plan">Plan</label>
    <textarea class="form-control" name="plan" rows="6"></textarea>
    <input class="btn btn-lg btn-outline-warning m-3 p-2" type="submit" value="Submit">
  </form>
</div>