<div class="container form-group bg-light">
  <form class="m-4 p-3" action="/profile/edit" method=POST>
    <label class="lead" for="username">Username</label>
    <input class="form-control" name="username">
    <label class="lead" for="email">Email</label>
    <input class="form-control" name="email">
    <label for="email">Occupation</label>
    <input class="form-control" name="occupation">
    <input class="btn btn-lg btn-outline-warning m-3 p-2" type="submit" value="Update">
  </form>
</div>