<form action="/profile/edit" method=POST>
<input id="hidden" type="hidden" name="method" value="patch">
  <label for="username">Username:</label><br>
  <input style="font-size:14pt;"type="text" id="username" value="<%=@user.username%>" name="username"><br><br>
  <label for="email">Email:</label><br>
  <input style="font-size:14pt;"type="text" id="email" value= "<%=@user.email%>" name="email"><br><br>
  <label for="occupation">Occupation:</label><br>
  <input style="font-size:14pt;"type="text" id="occupation" value= "<%=@user.occupation%>" name="occupation"><br><br>
  <input type="submit" value="Submit">
</form>