<div class="container card text-white bg-primary justify-center mt-5" style="max-width: 38rem;">
  <div class="card-header">My Profile</div>
  <div class="card-body m-3">
    <h5 class="card-title display-5">Username: <%=@user.username %></h5>
    <h6 class="card-text">Email: <%=@user.email %></h6>
    <h6 class="card-text">Occupation: <%=@user.occupation %></h6>
      <form action="/profile/edit" method=GET>
        <input class="btn btn-outline-warning m-2" type="submit" value="Edit">
      </form>
      <form action="/logout" method=POST>
        <input class="btn btn-outline-warning m-2" type="submit" value="Logout">
      </form>
  </div>
</div>


