
<h1>My Profile.</h1>
<p>Username: <%=@user.username %><br></p>
<p>Email: <%=@user.email %><br></p>
<p>Occupation: <%=@user.occupation %><br><br></p>

<form action="/profile/edit" method=GET>
  <input type="submit" value="Edit">
  </form><br>

<form action="/logout" method=POST>
  <input type="submit" value="LOGOUT">
  </form>


