<h1>Sign up below.</h1><br>

<form action="/signup" method=POST>
  <p style="border-style:inset">Please do not use you're real name for your username. This is so that we can maintain a comfortable, safe space for all users. Have fun with it! </p>
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br><br>
  <p style="border-style:inset">Your occupation is important because, we want to be able demonstrate motherhood is a common groud for all, no matter our backround. Let's be real though, being a mom is an occupation! </p>
  <label for="occupation">Occupation:</label><br>
  <input type="text" id="occupation" name="occupation"><br><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>